@import url('https://fonts.googleapis.com/css2?family=Indie+Flower&display=swap');
.lobby-players{
    height:80px;
    background-color: white;
    line-height: 80px;
    font-size: 2.5rem;
    padding-left:2rem;
    font-family: 'Permanent Marker', cursive;
    border-radius: 1rem;
    margin-bottom: 1rem;
    background-color: rgba(242, 135, 5,1);
    border:5px solid #4243DC;
    color:white;
}
#lobby-players{
    margin-top:1rem;
}
.start-button{
    outline:0;
    border:none;
    margin-left:2rem;
    background-color: #6204BF;
    color: white;
    font-family: 'Pangolin', cursive;
    width:100px;
    margin-top:3rem;
    height: 60px;
    font-size: 1.4rem;
    border-radius: 12px;
}
.start-button:focus{
    outline:0;
    border:3px solid rgba(242, 135, 5,1);
}
body::-webkit-scrollbar{
    width:0.6em;
    background-color:rgb(255, 240, 0) ;
}
body::-webkit-scrollbar-thumb{
    border-radius: 8px;
    background-color:rgba(242, 135, 5,0.6) ;
}
body::-webkit-scrollbar-button{
    background-color:#6204BF ;
}
