@import url('https://fonts.googleapis.com/css2?family=Permanent+Marker&display=swap');
  body,html{
    overflow-x: hidden;
  }

  html{
    overflow-y: hidden;
  }
  input.call-picker {
      border: 1px solid #AAA;
      color: #666;
      text-transform: uppercase;
      float: left;
      outline: none;
      padding: 10px;
      text-transform: uppercase;
      width: 85px;
  }
  
  .color-picker {
    width: 130px;
    background: #F3F3F3;
    height: 81px;
    padding: 5px;
    border: 5px solid #fff;
    box-shadow: 0px 0px 3px 1px #DDD;
    position: absolute;
    top: 61px;
    left: 2px;
  }
  
  .color-holder {
    background: #fff;
    cursor: pointer;
    border: 1px solid #AAA;
    width: 40px;
    height: 36px;
    float: left;
    margin-left: 5px;
  }
  
  input.stroke_width_picker {
    border: 1px solid #AAA;
    color: #666;
    text-transform: uppercase;
    float: left;
    outline: none;
    padding: 10px;
    text-transform: uppercase;
    width: 85px;
  }
  
  p {
    margin-top: 2rem;
    margin-bottom: 2rem;
  }

  button {
    margin-left: 1rem;
  }

  .drawing-board{
    width:95%  !important;
    height:100%  !important;
  }

  #canvas-area{
    height:600px;
    margin-bottom:2rem;
  }

  .wrapper{
    margin-top:3rem;
    width:auto;
    height:100vh;
  }
  .player-tab{
    height: 60px;
    line-height: 60px;
    font-size:2rem;
    vertical-align: middle;
    font-family: 'Permanent Marker', cursive;
    border-left: 10px solid rgb(191, 59, 145);
    padding-left: 1rem;
    margin-bottom: 10px;
  }